@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galmuri9';
}
#wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 600px;
    height: 100px;
    background: orangered;
    padding: 0 20px;
}
header > a {
    display: flex;
    justify-content: start;
    align-items: center;
}
main {
    width: 600px;
    background: #111;
    height: 800px;
    color: orangered;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    align-items: center;
}
.titleText {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.todotlistButton {
    width: 90%;
    height: 60px;
    background: orangered;
    color: #111;
    font-size: 20px;
    border: none;
    font-weight: bold;
}
.todotlistButton:hover {
    cursor: pointer;
    animation:color 1s infinite;
}
@keyframes color {
    0%,20%,40%,60%,80%,100% {
        background: orangered;
    }
    10%,30%,50%,70%,90% {
        background: orange;
    }
}
.todolistContainer {
    width: 90%;
    height: 600px;
    overflow-y: scroll;
    color: orangered;
}
.todolistContainer::-webkit-scrollbar {
    background: #111;
    display: none;
}
.todolist {
    display: flex;
    width: 100%;
    height: 80px;
    /* background: aliceblue; */
    justify-content: space-between;
    align-items: center;
}
.todolist > input[type=checkbox] {
    width: 25px;
    height: 25px;
    appearance: none;
    cursor: pointer;
    accent-color: #fff;
    background: #fff;
}
.todolist > p {
    display: block;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #fff;
}
.lc4 {
    background: orangered;
    color: #fff;
}
.todostatus:checked {
    background: orangered !important;
    border-color: orangered;
    accent-color: #fff;
}
.modalContainer {
    width: 600px;
    height: 900px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.modalContainer.show {
    visibility: visible;
    opacity: 1;
}
.modal {
    width: 80%;
    height: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modalLogo {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    overflow: hidden;
    position: relative;
}
.modalLogo > img {
    height: 100%;
    flex-shrink: 0;
    animation: logoflow 5s linear infinite;
}
@keyframes logoflow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.modalTitle {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputTodoContainer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
    position: relative;
    gap: 10px;
}
.categoryContainer {
    width: 90%;
    height: 30px;
    background: #aaa;
    display: flex;
    gap: 10px;
}
.categoryContainer > div,
.listCate {
    width: 70px;
    height: 100%;
    text-align: center;
    align-content: center;
    color: #111;
}
.categoryContainer > div:hover {
    cursor: pointer;
}
.c1 {
    background: orangered;
}
.c2 {
    background: orange;
    /* filter: grayscale(0.7); */
}
.c3 {
    background: royalblue;
}
.c4 {
    background: green;
}
.dimmed {
    filter: grayscale(0.7);
}
.inputTodoContainer input[type=text]{
    width: 90%;
    height: 70px;
    border: 1px solid #aaa;
    outline: none;
    padding-left: 10px;
    font-size: 23px;
}
.inputInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalCloseButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    color: #111;
    border: 2px solid #111;
    bottom: 250px;
    font-size: 20px;
    align-content: center;
}
.modalCloseButton:hover {
    cursor: pointer;
    background: #eee;
}
.todoSaveButton {
    width: 90%;
    height: 45px;
    background: #111;
    font-size: 20px;
    border: none;
    color: #fff;
}
.todoSaveButton:hover {
    background: orangered;
    cursor: pointer;
}